<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Election Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">US Presidential Election Data</h1>

    <!-- Create a table with the "table" class to adopt Bootstrap styling -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Candidate ID</th>
          <th scope="col">Candidate Name</th>
          <th scope="col">Election Year</th>
          <th scope="col">Party</th>
          <th scope="col">Total Receipts</th>
          <th scope="col">Total Disbursements</th>
          <th scope="col">Cash on Hand</th>
          <th scope="col">Votes</th>
          <th scope="col">Percent of Votes</th>
        </tr>
      </thead>
      <tbody>

        <!-- Within the table body, create a new table row (<tr>) for each candidate in our database. -->
        {% for candidate in candidate_info %}
          <tr>
            <td>{{ candidate.candidate_id }}</td>
            <td>{{ candidate.candidate_name }}</td>
            <td>{{ candidate.candidate_election_year }}</td>
            <td>{{ candidate.party_full }}</td>
            <td>{{ candidate.total_receipts }}</td>
            <td>{{ candidate.total_disbursements }}</td>
            <td>{{ candidate.cash_on_hand_end_period }}</td>
            <td>{{ candidate.Votes }}</td>
            <td>{{ candidate.VotePct }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>
</body>

</html>
